.deleteCampaignModalInnerWrapper {
	height: auto;
	width: 486px;

	& > div:first-child {
		display: none;
	}
}

.deleteCampaignModal {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	position: relative;
	top: 0;
	z-index: 1;
	left: 0;
	> p {
		font-size: 20px;
		padding: 30px;
		text-align: center;
	}
	> div {
		display: flex;
		padding-bottom: 30px;
		> button {
			margin-right: 20px;
			font-size: 16px;
			letter-spacing: .6px;
		}
	}
	.confirmButton {
		background: #e85252;
		&:hover {
			background: #b43939 !important;
		}
	}
	.cancelButton {
		background: #fff;
		border: 1px solid #9e9e9e;
		color: #7d7d7d;
		&:hover {
			border: 1px solid #c7c7c7;
			background: #c7c7c7 !important;
			color: #000;
		}
	}
}
