.checkbox {
    margin-bottom: 15px;

    input[type=checkbox] {
        // opacity: 0;
        display: none;
    }

    label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        user-select: none;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 16px;
    }

    label:before {
        content: '';
        width: 20px;
        height: 20px;
        border: 2px solid #c4c4c4;
        border-radius: 3px;
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: -1px;
        left: 0;
        background: #fff;
		transition: all 0.2s ease;
    }

    label:hover:before {
        border-color: #007eff;
    }

    label:after {
        content: '';
        width: 12px;
        height: 20px;
        border-radius: 3px;
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: -3px;
        left: 4px;
        transform: scale(0.6) rotate(45deg);
        opacity: 0;
        background: rgba(0, 126, 255, 0);
        border-right: 4px solid #007eff;
        border-bottom: 4px solid #007eff;
    }

    input[type=checkbox]:checked + label:before {
        border-color: #007eff;
    }
    
    input[type=checkbox]:checked + label:after {
        opacity: 1;
    }
}

.checkboxGroup {
    &.checkboxGroup__inline {
        display: flex;
    }
    .checkbox {
        margin-right: 30px;
    }
    .checkbox:last-child {
        margin-right: 0;
    }
}

.disabled {
    input[type=checkbox]:checked + label:before {
        border-color: #bbb !important;
        cursor: auto !important;
    }
    input[type=checkbox]:checked + label:after {
        border-right-color:  #bbb !important;
        border-bottom-color:  #bbb !important;
        cursor: auto !important;
    }
    label {
        cursor: auto !important;
    }
}