.listWrapper {
    padding: 10px 0;
}
.listItem {
    padding: 10px 0;
}
.styledListBox {
    background: #fff;
    border-radius: 4px;
    min-width: 200px;
    z-index: 111111;
    box-shadow: -1px 3px 7px 0 rgba(31, 44, 61, 0.27);
    cursor: pointer;

    .listItem {
        padding: 10px 20px;
    }
    .listItem:hover {
        background: #f2f2f2;
    }
}