@import '../../commons/variables.scss';
.paresh {
  background: beige;
}

.header-options {
  display: flex;
  height: 90px;
  border-bottom: $border;
}

.header-options__item {
  min-width: 35px;
  display: flex;
  flex-direction: column;
  padding: 8px
}

.main-window {
  width: 100%;
  height: calc( 100% - 90px );
  display: flex;
}

.left-panel {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-right: $border;
}

.connections-pane {
  flex: 2;
}

.tasks-pane {
  flex: 1;
}
.right-panel {
  width: calc( 100% - 300px );
}
// main .main-window
.content {
  height: 100%;
}
.activeTab {
	color: #fff !important;
	position: relative;
  font-weight: 500;
  background: $accent-color;
  border-radius: $border-radius;
	// &:after {
	// 	content: '';
	// 	height: 2px;
	// 	width: 35px;
	// 	background: #000;
	// 	position: absolute;
	// 	top: 25px;
	// 	left: 0;
	// 	z-index: 1;
	// }
}
.tabWrapper_settings {
  border-bottom: $border;
  & > div {
    padding: 8px 20px;
    margin-right: 0px !important;
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
    margin-bottom: 0 !important;
    border-right: $border;
  }
}
