/* Button background colors */
$default-button-color: #007EFF;
$default-button-color-hover: #004B97;
$disabled-button-color: #C4C4C4;

/* Text Colors */
$text-button-default: #FFF;
$text-default: #1A1826;
$input-placeholder-default: #949494;
$input-message-default: #949494;
$input-border-default: #C4C4C4;

/* Modal */
$modal-header: #1A1826;

/* States */
$success: transparent;
$error: #DA0000;
